# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Fruberry/Fruberry/bin/Debug
/Fruberry/Fruberry/obj
/Fruberry/Fruberry.Tests/bin/Debug/netcoreapp3.1
/Fruberry/Fruberry.Tests/obj
/.vs
/Fruberry/.vs/Fruberry
/Fruberry/bin/Debug
/Fruberry/obj
/Fruberry.Tests/bin/Debug/netcoreapp3.1
/Fruberry.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Fruberry.Tests/obj
/Fruberry.Nuget.Test/bin/Debug/netcoreapp3.1
/Fruberry.Nuget.Test/obj
/obj
